<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

	<!--
	Appenders
		어디에 출력할지를 정해주는 곳
		append="true"
			로그 찍을 때 파일 지우지 말고 계속 추가해서 찍을 것
		name
			우리가 정해준 이름
		SYSTEM_OUT
			정해져있는 것
		pattern
			참고 : https://www.egovframe.go.kr/wiki/doku.php?id=egovframework:rte3:fdl:%EC%84%A4%EC%A0%95_%ED%8C%8C%EC%9D%BC%EC%9D%84_%EC%82%AC%EC%9A%A9%ED%95%98%EB%8A%94_%EB%B0%A9%EB%B2%95
			%p
				로그 이벤트 레벨
			%m
				메시지
			%d
				로그 발생 일시
				양식을 지정할 수 있음
					%d{yyyy-MM-dd:HH:mm}
			%n
				줄내림
			%t
				로깅 이벤트 발생 쓰레드 이름. http-nio-8080-exec-6 이런 식으로 나온다.
			%c
				logger name
	-->
	<Appenders>
		<File name="File_1" fileName="c:/log_test/myLog_1.log" append="true">
			<PatternLayout pattern="%t %-5p %c{2} - %m%n" />
		</File>
		<File name="File_2" fileName="c:/log_test/myLog_2.log" append="true">
			<PatternLayout pattern="%d - %m%n" />
		</File>
		<File name="File_3" fileName="c:/log_test/myLog_3.log" append="true">
			<PatternLayout pattern="%-5p >> %m /// %F:%L(%M) / %d%n" />
		</File>
		<Console name="stdout_1" target="SYSTEM_OUT">
			<PatternLayout pattern="%p == %m == %d%n" />
		</Console>
		<Console name="stdout_2" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd:HH:mm} >> %m%n" />
		</Console>
		<Console name="stdout_3" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p >> %m /// %F:%L(%M) / %d%n" />
		</Console>
	</Appenders>

	<Loggers>
		<!--
		Log가 warning 레벨 이상에서 발생한 로드글을 ref 위치에 출력한다.
		-->
		<Logger name="case1" level="warn">
			<AppenderRef ref="File_1" />
		</Logger>

		<!-- additivity="false" 상위 appender를 상속받지 않습니다. 즉, 여기서는 Root를 제외시키는 역할을 
			합니다. 로그가 중복으로 출력되는것을 제어할 목적으로 사용됩니다. -->
		<Logger name="case2" level="info" additivity="false">
			<AppenderRef ref="File_2" />
			<AppenderRef ref="stdout_1" />
		</Logger>

		<!--
		
		-->
		<Logger name="case3" level="debug" additivity="false">
			<AppenderRef ref="stdout_3" />
			<AppenderRef ref="File_3" />
		</Logger>
		
		<!--
		MyBatis에서 사용할 logger
			logger 이름은 mapper의 namespace 이름을 적는다.
			level
				trace
					가장 낮은 레벨.
					실행한 쿼리문, resultset, 등등 모두 적힘.
					내용이 너무 많아질 가능성이 있음.
		이게 MyBatis에서 공식적으로 제공하는 log 찍는 방식이다.
		-->
		<Logger name="myBook" level="trace"></Logger>

		<!--
		굳이 설정을 잡지 않아도 기본적으로 나오게 되는 Root level
		-->
		<Root level="INFO">
			<AppenderRef ref="stdout_2" />
		</Root>
	</Loggers>

</Configuration>